@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --main-bg: #181823;
    --highlight-color1: #c0eef2;
    --highlight-color2: #537fe7;
    --text-color: #e9f8f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid green; */
}

html {
    color: var(--text-color);
    background: var(--main-bg);
    font-family: "Montserrat", sasn-serif;
    scroll-behavior: smooth;
}

a,
a:active,
a:visited {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: var(--highlight-color2);
}
body {
    position: relative;
}
#navbar {
    height: 3rem;
    background: var(--highlight-color2);
    font-size: 1.2rem;
    z-index: 3;
    /* Nav bar is sticky until the welcome section, and the sticky property doesn't work when scrolling through the main element */
    position: sticky;
    top: 0;

    /*With position: fixed, but the webpage flow breaks if I use this*/
    /* position: fixed;
    width: 100%;
    top: 0; */
    /* letter-spacing: 0.5px; */
}
#navbar ul {
    display: flex;
    justify-content: flex-end;
    /* gap: 1rem; */
    height: 100%;
    align-items: center;
}

#navbar li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 020s linear 0.1s;
    padding: 0 0.5rem;
    background: var(--highlight-color2);
}

#navbar li:last-child {
    padding-right: 1rem;
}

/* #navbar li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 0%;
    background: red;
} */

#navbar a {
    text-decoration: none;
    color: var(--text-color);
}

#navbar li:hover {
    background: linear-gradient(
        var(--highlight-color2) 90%,
        var(--highlight-color1) 90%
    );
    /* width: 100%; */
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    font-size: 3rem;
}

#welcome-section p {
    margin-top: 0.5rem;
}

main > h2 {
    padding: 2rem;
    padding-bottom: 0;
}
#projects {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, minmax(300px, auto));
    gap: 1rem;
    padding: 2rem;
}

.project-tile {
    padding: 3rem;
    /* outline: 1px solid white; */
    border: 3px solid var(--highlight-color1);
    border-radius: 20px;
    /* position: relative; */
}

.project-tile:hover {
    box-shadow: 0px 0px 0px var(--highlight-color1),
        0px 0px 15px var(--highlight-color2);
}

/* .project-tile::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: red;
    z-index: 5;
}

.project-tile:hover ::before {
    background: green;
    z-index: 5;
} */

.project-tile h2 {
    margin-bottom: 10px;
}

.project-tile img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    object-fit: cover;
    transition: filter 0.2s;
    overflow: hidden;
    filter: grayscale(100%);
}

.project-tile:hover img {
    /* transform: scale(1.05); */
    filter: grayscale(20%);
}

footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer > * {
    /* outline: 1px solid lime; */
}

#contacts {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacts h2 {
    font-size: 3rem;
}

#contacts ul {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#contacts ul li {
    list-style: none;
}

#disclaimer {
    /* margin-top: auto; */
    text-align: center;
    font-size: calc(1rem / 2);
}
#author {
    margin-top: auto;
    text-align: center;
    height: 30px;
}
